.bg-img {
  @include banner("../images/img4.jpg", 640px);
  background-attachment: fixed;
}
.img1{
  @include banner("../images/img1.jpg", 100vh);
  position: absolute;
  margin-top:-96px;
  z-index:-1;
}
.img2{
  @include banner("../images/img2.jpg", 100vh);
}
.img3{
  @include banner("../images/img3.jpg", 100vh);
}
.section-bg {
  position: absolute;
  top: 0;
  bottom: 0;
}

.text{
  position: absolute;
  bottom:192px;
  right: 96px;
}

.text-left{
  position: absolute;
  top:192px;
  left: 96px;
}